/* LAYOUT */

body {
  background-color: #333;
  color: #eee;
  line-height: 1.7;
  font-family: monospace;
  font-size: 145%;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  color: currentColor;
  padding: .6rem .1rem
}

a:hover {
  background-color: #eee;
  color: #333;
  transition: 128ms;
}

a:active {
  background-color: #999;
  color: #333;
  animation: 128ms;
}

.content {
  margin-bottom: 2rem;
}

/* ARTICLES */

article {
  margin: 1rem 0;
  padding: .5rem 1rem;
  border: 2px solid #444;
}

article time {
  font-size: 70%;
  color: #aaa;
}

/* NAVIGATION */

.site-nav {
  display: flex;
  padding: .5rem;
  background-color: #222;
}

.site-nav a {
  display: block;
  padding: 1rem;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}
